.profile-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 0px 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #003366;
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}


.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 25px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.3s ease;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  margin-top: 25px;
  padding: 10px 30px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}


.profile-view {
  margin-top: 20px;
}

.profile-view table {
  width: 100%;
  border-collapse: collapse;
}

.profile-view td {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  vertical-align: middle;
}

.profile-view .profile-label {
  font-weight: 600;
  color: #1d4390;
  width: 40%;
  background-color: #f8f9fa;
  border-right: 1px solid #e0e0e0;
}

.profile-view tr:nth-child(even) td {
  background-color: #fdfdfd;
}


@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .profile-view .profile-label {
    width: 45%;
  }
}

.form-group {
  margin-bottom: 18px;
}

.input-with-icon {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #5963b0;
  font-size: 16px;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 10px 10px 35px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.input-with-icon input:focus {
  border-color: #290b4f;
  box-shadow: 0 0 4px rgba(41, 11, 79, 0.3);
}

.profile-label svg {
  vertical-align: middle;
  margin-right: 6px;
  color: #290b4f;
}

