
.contact-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  position: relative; 
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 10;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #0077cc;
}

.contact-form {
  position: relative; 
  display: flex;
  flex-direction: column;
  gap: 12px; 
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form button {
  background-color: #0077cc;
  color: #fff;
  padding: 11px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #005fa3;
}

.response-message {
  margin-top: 15px;
  color: rgb(2, 1, 11);
  font-weight: 600;
  text-align: center;
}
.contact-form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}
